*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
}
/* .each{
    background-color: grey;
}
.each:hover{
    background-color: white;
    border: 1px solid black;
} */
.buttons{
    height: 3vh;
    width: 100%;
    display: grid;
    place-content: center;
    background-color: yellowgreen;
    padding: 0px;
}
button{
    text-align: center;
    padding: 3px 10px;
    font-weight: bold;
    text-shadow: 1px 1px rgb(153, 151, 151);
    border: 1px solid black;
    border-radius: 10%;
}