*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
}
.container div{
    /* width: 6.25%;
    height: 25%;
    border: 1px dashed green;
    background-color: yellow; */
}
.container div:hover{
    background-color: green;
}